<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suixingpay.mapper.StudentMapper">
    <!--user实体类和表的映射-->
    <resultMap id="studentMap" type="com.suixingpay.pojo.Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="studentClass" column="studentClass"/>
        <result property="teacher" column="teacher"/>
        <result property="createDate" column="createDate"/>
        <result property="year" column="year"/>
    </resultMap>
    <!--user 表的sql片段-->
    <sql id="studentInfo">id,name,age,sex,studentClass,teacher,createDate,year</sql>
    <!--查询所有用户信息-->
    <select id="queryAllStudent" resultMap="studentMap">
        select <include refid="studentInfo"/>
        from student
    </select>

    <!--根据id查询学生-->
    <select id="queryStudentByid" resultMap="studentMap">
        select <include refid="studentInfo"/>
        from student
        where id = #{id}
    </select>

    <!--根据用户名查询学生
    <select id="queryUserByName"  resultMap="studentMap">
        select id,name,age,sex,studentClass,teacher,created,year
        from student
        where name = #{name}
    </select>-->

    <!--根据用户id修改学生信息-->
    <update id="updateStudentById" parameterType="com.suixingpay.pojo.Student">
        update student
        set name = #{name}
        and age = #{age}
        where id = #{id}
    </update>

    <!--根据id删除用户-->
    <delete id="delStudentById">
        delete from student
        where id = #{id}
    </delete>

    <insert id="insertStudent" parameterType="com.suixingpay.pojo.Student">
        insert into student
        (name, age, sex, studentClass, teacher, createDate, year)
        values(#{name},#{age},#{sex},#{studentClass},#{teacher},#{createDate},#{year});
    </insert>
</mapper>